<!DOCTYPE html>
<html>
<head>
<title>{{ item.name }} Test site for ansible nginx virtual host</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>This site is for ansible  nginx-based static {{ item.name }}</h1>
<p>If you see this page, the nginx web server for <b> {{ item.name }} </b>is successfully installed and
working. Further configuration is required.</p>

<p><em>Galaxyrole: ohyoungjooung2.nginx_centos6</em></p>
</body>
</html>
