server {
       listen 81 default_server;
       listen [::]:81 default_server ipv6only=on;

 
       root /usr/share/nginx/html;
       index index.html index.htm;
       #Testing ip address
       server_name {{ server_name }} ;
       access_log /var/log/nginx/{{ server_name }}-access_log main;
 

       location / {

                try_files $uri $uri/ =404;
       }
}
