server {
       listen 81;

       server_name {{ server_name }} ;
 
 

       location / {
              root {{ vhost1_html_dir }};
              index index.html index.htm;
              access_log {{ vhost1_log_dir }}/vhost-access_log main;
              error_log {{ vhost1_log_dir }}/vhost-error_log;

                try_files $uri $uri/ =404;
       }
}
